@font-face{
        font-family: "Blokletters";
        src: url(../font/Blokletters-Balpen.ttf);

    }
#home {
background: url(../images/bg.jpg) 50% 0 no-repeat fixed; min-height: 1000px;
height: 1000px;
margin: 0 auto;
width: 100%;
max-width: 1920px;
position: relative;
}
#home article {
height: 458px;
position: absolute;
text-align: center;
top: 150px;
width: 100%;
}
h1{
	color:white;
	font-weight: 800;
	font-size: xx-large;
}
h3{
	font-size: x-large;
}
#about {
background: orange 50% 0 repeat fixed; min-height: 750px;
/*height: 750px;*/
height: auto;
margin: 0 auto;
width: 87%;
max-width: 1920px;
position: absolute;
padding:0 35px;
left:4%;
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.fenetre{
    color:white;
    padding:5px 5px;
    margin: 25px 47px;
    height:260px;
    width:300px;
    position:relative;
    display: inline-block;
    background: rgba( 139,0,0,0.75);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    text-align: center;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.fenetre:link{
    text-decoration: none;
}
.fenetre>article>img{
    padding-top:5px;
    padding-right:5px;
    padding-left:5px;
    width:270px;
    height:200px;
}
.fenetre:hover {
    background:rgba(39,124,145, 1.0);
}
@media screen and (max-width:589px) {
    .fenetre{
        display:block;
        height:30%;
        width:70%;
        margin-left:15%;
    }
    #about {
        height: auto;
    }
}
@media screen and (min-width:590px) and (max-width:960px)  {
    .fenetre{
        display:inline-block;
        height:25%;
        width:30%;
        margin-left:10%;
    }
    #about {
        height: auto;
    }

	.fenetre>article>img{
    width:150px;
    height: 110px;
    }
}
footer{
    margin-top: 5%;
    padding-bottom:40px;
    margin-left: 50px;
    margin-right: 50px;
    background:rgba(39,124,145,1);
    color:white;
    width:91%;

}
#copyright{
    margin-left:15px;
    font-size:x-small;
    float:left;

}
#foot{
    float:right;
    font-size: x-small;
    margin-right: 15px;
   
}
#container{
/*display: none;*/
margin: 2% 5%;
/*height:87%;*/
/*height: auto;*/
height:auto;
max-height:620px;
width:87%;
background:rgba(39,124,145,0.8); 
position:absolute;
top:3%;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
}
#info{
	float:right;
	height: 250px;
	margin-right:5%;
}

.content{
/*background:rgba(250,16,7,0.8);*/
background-color: white;
margin:2% 5%;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
height: auto;
padding: 1% 5%;

display:none;
/*display: none;*/
}

#link2 nav{
	border:3px solid rgba(39,124,145,0.8); 
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}
#link2 img{
	width: 400px;
	float:left;
}
#link2 li{
	display:inline-block;
	list-style: none;
	padding-right:6%; 
	margin-left: 8%;
}

summary{
	display: block;
}

.content:target{
    display: block;
}
.fermer{
    color: red;
    border: 1px solid green;
    padding: 5px;
    background-color: yellow;
}

