
#home {
background: url(../images/bg.jpg) 50% 0 repeat fixed; min-height: 1000px;
height: 1000px;
margin: 0 auto;
width: 100%;
max-width: 1920px;
position: relative;
}
#home article {
height: 458px;
position: absolute;
text-align: center;
top: 150px;
width: 100%;
}
h1{
	color:white;
	font-weight: 800;
	font-size: xx-large;
}
#about {
background: orange 50% 0 repeat fixed; min-height: 750px;
height: 750px;
margin: 0 auto;
width: 100%;
max-width: 1920px;
position: absolute;
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.fenetre{
    color:white;
    margin: 5% 6%;
    height:30%;
    width:20%;
    position:relative;
    display: inline-block;
    background:rgba(87, 123, 113,0.85);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    text-align: center;
}
.fenetre:link{
    text-decoration: none;
}
.fenetre>article>img{
    padding-top:2%;
    padding-right:5%;
    padding-left:5%;
    width:60%;
    height:50%;
}
.fenetre:hover {
    background:rgba(39,124,145, 1.0);
}
@media screen and (max-width:400px) {
    .fenetre{
        display:block;
        height:30%;
        width:70%;
        margin-left:15%;
    }
    #about {
        background-color: darkred;
        height: auto;
    }
}
#container{
/*display: none;*/
margin: 2% 5%;
/*height:87%;*/
height: auto;
width:87%;
background:rgba(39,124,145,0.8); 
position:absolute;
top:3%;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
}
#info{
	float:right;
	height: 250px;
	margin-right:5%;
}
#container .content #link2 img{
	float:left;
}
.content{
/*background:rgba(250,16,7,0.8);*/
background-color: white;
margin:5% 5%;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
height: auto;
padding: 2% 5%;
/*display: none;*/
}
.content{
display:none;
}

summary{
	display: block;
}

/*#link1:target, #link2:target, #link3:target,#link4:target,#link5:target,#link6:target{
    display: block;
}*/
.fermer{
    color: red;
    border: 1px solid green;
    padding: 5px;
    background-color: yellow;
}

